/* Sidebar Logo Styling */
.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 10px 0px 10px;
  z-index: 100;
}

/* Ensure the sidebar sections start below the logo */
.sidebar .chapter {
  margin-top: 50px;
  /* Pushes content down */
}

/* Style the link wrapping the logo */
.sidebar-logo-link {
  display: block;
  text-decoration: none;
  width: 100%;
  pointer-events: auto;
  /* Ensure it can be clicked */
}

/* Logo */
.sidebar-logo {
  width: 32px;
  margin-right: auto;
}

/* Hide logo when sidebar is collapsed */
.sidebar[data-md-state="collapsed"] .logo-container {
  display: none;
}
